/*Оформление шрифтов*/

h1,
h2,
.card__title,
.cover__description,
.bet-button {
    text-transform: uppercase;
}

.cover,
.lots__card-list {
    color: #FFFFFF;
}

.menu__link_header,
.address a,
.lots__look-more-link {
    text-underline-offset: 4px;
}

.menu,
.address {
    font-weight: 400;
    font-size: 18px;
    line-height: 24.3px;
    font-style: normal;
}

.card__text,
.container p,
.lots__look-more-link {
    font-weight: 400;
    font-size: 20px;
}


h1 {
    font-weight: 700;
    font-size: 100px;
}

h2 {
    font-weight: 700;
    font-size: 40px;
}

.header__link_active,
.footer__menu-link_active,
.card-link {
    text-decoration: none;
}

.header__links-list-item_no-bullit,
.lots__card-list,
.footer__menu-list,
.footer__social-list {
    list-style: none;
}

/*Работа с секциями*/

/*Шапка*/

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    grid-template-rows: auto;
    align-items: center;
    padding: 92px 50px 92px 50px;
}

.logo-black {
    height: 105px;
    width: 148px;
}

.header__links-list {
    display: flex;
    gap: 32px;
    text-wrap: nowrap;
}

.header__links-list-item {
    list-style: circle;
}

.address__header {
    justify-self: end;
    max-width: 240px;
}

/*Cover*/

.cover {
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    background-color: rgb(0 0 0 / 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
}

.cover__title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 165px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 106px;
    letter-spacing: 30px;
    gap: 17px;
    z-index: 5;
}

.aligned-text,
.aligned-text__center,
.aligned-text__right,
.cover__title__description,
.bet-button {
    z-index: 1;
}

.aligned-text__center {
    align-self: center;
}

.aligned-text__right {
    align-self: flex-end;
}

.cover__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    font-weight: 400;
    font-size: 22px;
}

.cover__title__description {
    word-spacing: 18.5px;
}

.bet-button {
    border: 2px solid white;
    color: white;
    background-color: transparent;
    min-width: 256px;
    height: 51px;
    text-align: center;
    font-weight: 500;
    font-size: 22px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

/*Lots*/

.lots {
    margin-top: 180px;
    padding: 0 24px;
}

.card-link,
.card {
    height: 100%;
}

.card__title {
    font-weight: 700;
    font-size: 22px;
    padding-top: 48px;
    padding-left: 40px;
    padding-right: 40px;
    text-decoration: underline;
    z-index: 1;
}

.card__text {
    line-height: 120%;
    text-transform: none;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 48px;
    z-index: 1;
}

.lots__heading {
    padding-left: 40px;
}

.lots__card-list {
    display: flex;
    padding-top: 27px;
    flex-wrap: wrap;
    gap: 25px;

}


.card {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.lots__card-list-item {
    width: 334px;
    min-height: 596px;

}

.lots__look-more-link {
    padding-top: 6px;
    padding-left: 40px;
    color: black;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

/*About*/

.about {
    display: grid;
    grid-template-columns: 334px auto;
    margin-top: 120px;
    padding: 0 24px;
}

.logo-white {
    height: 114px;
    width: 148px;
}

.logo-white__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 240px;
    width: 240px;
    background-color: black;
    border-radius: 50%;
    margin-top: 35px;
    justify-self: center;
}

.container {
    padding-top: 146px;
    padding-left: 25px;
    align-self: flex-end;
    line-height: 24px;
    text-wrap: balance;
}

.about__title {
    padding-bottom: 111px;
}

.article {
    padding-bottom: 25px;
}

/*Footer*/

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 154.9px;
    padding: 0 50px 82px 50px;
}

.address__footer {
    justify-self: start;
}

.footer__menu-list {
    justify-self: center;
    text-align: center;
}

.footer__social-icon {
    height: 48px;
    width: 48px;
}

.footer__social-list {
    display: flex;
    justify-self: end;
    gap: 48px;
}